.add-expense-form
    h3
        font-size: 1.2em
        font-weight: 300
        text-transform: uppercase

    input, button
        border: 1px solid #ddd
        box-sizing: border-box
        font-size: 0.9em
        margin: 0.5em 0
        padding: 1.5em
        width: 100%

    button
        background-color: #4336FF
        color: #fff
        cursor: pointer
        transition: background-color 0.5s

        &:hover
            background-color: #5B4FFF
