@import "./../../constants.sass"

.auto-complete-list
    padding: 0
    margin: 0
    position: absolute
    z-index: 999
    background: $colorAccentLight
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5)
    max-height: 50%
    overflow: auto

    li
        color: $colorPrimaryText
        padding: 0.5em
        transition: background-color 0.1s, color 0.1s

        &:hover
            background-color: $colorPrimaryLight
            color: $colorPrimaryDark
            cursor: pointer

            mark
                color: inherit

        mark
            background: transparent
            color: $colorPrimaryDark
            font-weight: 700
            transition: inherit

    .selected
        background-color: $colorPrimary
        color: $colorAccentLight

        mark
            color: inherit
