@import "./../../constants.sass"

.data-table
    box-sizing: border-box
    border-collapse: collapse
    display: flex
    flex-direction: column
    height: 100%
    overflow: hidden
    width: 100%

    thead, tbody, tfoot
        display: block
        width: 100%

    tr
        display: grid
        grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)

        td, th
            color: $colorSecondaryText
            padding: 1em 0.5em
            text-align: right

        td
            color: $colorPrimaryText

            .clickable
                background-color: transparent
                border-radius: $borderRadius
                color: $colorPrimaryText
                cursor: pointer
                font-weight: 700
                margin: -0.5em
                padding: 0.5em
                transition: color 0.5s

                &:hover
                    color: $colorPrimary

        th
            text-transform: uppercase
            font-weight: 700

        td:first-child
            text-align: left

        th:first-child
            text-align: left

        &:nth-child(even)
            td
                background-color: rgba(0, 0, 0, 0.05)

    thead
        tr
            border-bottom: 1px solid $colorDivider

            th
                cursor: pointer
                transition: color 0.5s

                &:hover
                    color: $colorPrimaryText

                &.sorted-asc
                    &:after
                        content: " \2191"

                &.sorted-desc
                    &:after
                        content: " \2193"

    tbody
        height: 100%
        overflow: auto

    tfoot
        tr
            border-top: 1px solid $colorDivider

    &.columns-2
        tr
            grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr)

    &.columns-3
        tr
            grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr)

    &.columns-4
        tr
            grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)
