@import "./../../constants.sass"

.data-table
    box-sizing: border-box
    border-collapse: collapse
    display: flex
    flex-direction: column
    height: 100%
    overflow: hidden
    width: 100%

    thead, tbody, tfoot
        display: block
        width: 100%

    tr
        display: grid
        grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)

        td, th
            color: $colorSecondaryText
            padding: 0.5em 0.25em
            text-align: right

        td
            color: $colorPrimaryText

            span
                border: 1px solid transparent
                display: inline-block
                padding: 0.5em 0.25em

            .clickable
                background-color: transparent
                border-radius: $borderRadius
                color: $colorPrimaryText
                cursor: pointer
                font-weight: 700
                transition: color 0.5s

                &:hover
                    color: $colorPrimary

            .input-field
                border: 1px solid $colorDivider
                border-radius: $borderRadius
                font-family: inherit
                font-size: inherit
                margin: 0
                padding: 0.5em 0.25em
                text-align: inherit
                width: calc(100% - 1em)

                input
                    border: none
                    font-family: inherit
                    font-size: inherit
                    padding: 0
                    text-align: inherit

                &.input-date
                    align-items: center
                    display: flex
                    flex-direction: row
                    justify-content: space-between

                    input
                        height: 1em
                        width: 100%

                    button
                        background-color: $colorPrimaryDark
                        border: none
                        border-radius: $borderRadius
                        color: $colorAccentLight
                        cursor: pointer
                        display: inline-block
                        margin: -0.25em 0
                        padding: 0.25em
                        text-align: center
                        transition: background-color 0.5s
                        width: 2em

                        &:hover
                            background-color: $colorPrimary

        th
            text-transform: uppercase
            font-weight: 700
            padding: 1em

        td:first-child
            text-align: left

        th:first-child
            text-align: left

        &:nth-child(even)
            td
                background-color: rgba(0, 0, 0, 0.05)

    thead
        tr
            border-bottom: 1px solid $colorDivider

            th
                cursor: pointer
                transition: color 0.5s

                &:hover
                    color: $colorPrimaryText

                &.sorted-asc
                    &:after
                        content: " \2191"

                &.sorted-desc
                    &:after
                        content: " \2193"

    tbody
        max-height: 100%
        overflow: auto

    tfoot
        tr
            border-top: 1px solid $colorDivider

    &.columns-2
        tr
            grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr)

    &.columns-3
        tr
            grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr)

    &.columns-4
        tr
            grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)
