<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Expenses Tracker</title>
    </head>
    <body>
        <div id="expenses-tracker">
            <aside class="sidebar">
                <add-expense-form @submit="refreshMainView"></add-expense-form>
            </aside>
            <main class="content" v-if="statisticsTableData">
                <transition name="slide-fade" mode="out-in">
                    <data-table
                        v-if="activeView === 'months'"
                        :data="statisticsTableData">
                    </data-table>
                    <div class="expenses-category-month" v-else>
                        <h3>
                            <button @click="showMonthsView">«</button>
                            {{ currentCategoryName }} / {{ currentMonthName }}
                        </h3>
                        <!-- <graph :data="monthGraphData"></graph> -->
                        <data-table
                            class="columns-3"
                            :on-cell-edited="updateExpense"
                            :data="expensesTableData">
                        </data-table>
                    </div>
                </transition>
            </main>
        </div>
    </body>
</html>
