<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Expenses Tracker</title>
    </head>
    <body>
        <div id="expenses-tracker">
            <aside class="sidebar">
                <add-expense-form @submit="refreshMainView"></add-expense-form>
            </aside>
            <main class="content" v-if="expenses">
                <header class="content-header">
                    <month-filter-form
                        :months="availableMonths"
                        :most-recent-month="startingMonth"
                        :number-of-months="numberOfVisibleMonths"
                        @change="onMonthRangeChanged"
                    >
                    </month-filter-form>
                    <filter-expenses-form @submit="displayFilteredExpenses"></filter-expenses-form>
                </header>
                <transition name="slide-fade" mode="out-in">
                    <view-title
                        v-if="activeView !== 'months'"
                        :on-close="showMonthsView"
                        >
                        {{ currentTitle }}
                    </view-title>
                </transition>
                <transition name="slide-fade" mode="out-in">
                    <expense-category-table-view
                        v-if="activeView === 'months'"
                        :categories="categories"
                        :expenses="expenses"
                        :months="visibleMonths"
                        :on-month-clicked="onCategoryMonthSelected"
                        >
                    </expense-category-table-view>
                    <filtered-expenses v-else-if="activeView === 'filtered-expenses'"
                        :expenses="expenses"
                        :filter-text="filterText"
                        :on-edit="updateExpense">
                    </filtered-expenses>
                    <expense-category-month-view v-else
                        :category="currentCategory"
                        :expenses="expenses"
                        :month="currentMonth"
                        :on-expense-edited="updateExpense"
                    />
                </transition>
            </main>
        </div>
    </body>
</html>
